@model IList<FileInfo>
@inject IHostingEnvironment HostingEnvironment

<div class="sidebar-module">
    <h3>Latest Photos</h3>
    <div id="latestPhotosSidebar" class="instafeed card-columns gallery">
        @foreach (FileInfo photo in Model)
        {
            <div class="card" style="display:inline-block">
                <a class="card-img-top gallery-image" target="_blank" href="@photo.VirtualPathSlug(HostingEnvironment, 1600)" title="@photo.NameWithoutExtensionAndMain().GetStringWithSpacesAndFirstLetterUpper()">
                    <img alt="@photo.NameWithoutExtensionAndMain().GetStringWithSpacesAndFirstLetterUpper()" src="@photo.VirtualPathSlug(HostingEnvironment, 0,0,0,500, 500)" />
                </a>
            </div>
        }
    </div>
</div>