.field-validation-error {
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
input.input-validation-error,
textarea.input-validation-error {
  border: 1px solid #dc3545;
}
.validation-summary-errors {
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
.field-validation-valid {
  display: none;
}
.validation-summary-valid {
  display: none;
}
